.container {
  max-width: 120rem; // 1200px, max-width defines the biggest it can get width wise
  margin: 8rem auto; // Top an down is 80px;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem; // 500px, min-height defines the minimum height an element can get.
}

.header {
  font-size: 1.4rem;
  height: 7rem; //70px
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
}
